{{#partial "content"}}
<div id="mimi">
        <form action="/sighting/new" method="post">
            <div class="form-group">
                <label for="ranger">Ranger name</label><br>
                <input type="text"  placeholder="Enter Ranger name" name="ranger">
            </div>
            <div class="form-group">
                 <select id="Health"  placeholder="Enter Animal name" name="location" >
                        <option value="Zone A">Zone A</option>
                        <option value="Near the River">Near the River</option>
                        <option value="NE Quadrant">NE Quadrant</option>

                    </select>
            </div>
                   <div >
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </div>
                    </form>
                    </div>
            {{/partial}}
            {{>layout.hbs}}