{{#partial "content"}}
        <form action="/mamal/new" method="post">
            <div class="form-group">
                <label for="animal">Animal name</label><br>
                <input type="text"  placeholder="Enter Animal name" name="name">
            </div>
           <div >
                          <button type="submit" class="btn btn-primary mb-2">Submit</button>
                      </div>
                  </form>
          {{/partial}}
          {{>layout.hbs}}