{{#partial "content"}}
<div id="aje">
        <form action="/mamals/new" method="post">
            <div class="form-group">
                <label for="endagered">Endangered name</label><br>
                <input type="text"  placeholder="Enter Animal name" name="name">
            </div>
            <div class="form-group">
                <select id="Health"  placeholder="Enter Animal name" name="health" >
                        <option value="healthy">Healthy</option>
                        <option value="ill">Ill</option>
                        <option value="okay">Okay</option>

                    </select>
            </div>
            <div class="form-group">
               <select id="Age" name="age">
                       <option value="newborn">Newborn</option>
                       <option value="young">Young</option>
                       <option value="adult">Adult</option>

                   </select>
            </div>
            <div >
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
     </div>
{{/partial}}
{{>layout.hbs}}